/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

/*
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
*/

    withName: FASTP {
        cpus   = { 1      * task.attempt }
        memory = { 16.GB  * task.attempt }
        time   = { 4.h    * task.attempt }
        publishDir = [
          [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,json}"
          ],
          [
            enabled: params.store_trimmed,
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.{fastq.gz}"
          ]
        ]
    }

    withName: QUAST {
        ext.args = { [
            '--large',
            '--eukaryote',
            "--labels ${meta.labels.join(',')}"
        ].join(' ').trim() }
        cpus   = { 1     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/quast/${meta.comp}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MERYL_COUNT {
        cpus   = { 4     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: MERYL_UNIONSUM {
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: MERYL_HISTOGRAM {
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 1.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/meryl" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENOMESCOPE2 {
        ext.args = { "-k ${meta.kmer_size}" }
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/genomescope2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MERQURY_MERQURY {
        cpus   = { 4     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/merqury/${meta.ref}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTK_FASTK {
        ext.args = '-t1'
        ext.args2 = '-G'
        cpus   = { 8     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/fastk" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: MERQURYFK_MERQURYFK {
        cpus   = { 4     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/merquryfk/${meta.ref}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SMUDGEPLOT {
        ext.args2 = { "--title ${meta.id}" }
        cpus   = { 4     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/smudgeplot/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENESCOPEFK {
        ext.args = { "-k ${meta.kmer_size}" }
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/genescopefk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BUSCO_BUSCO {
        ext.args = { [
            '--offline'
        ].join(' ').trim() }
        cpus   = { 4      * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = { 12.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/busco/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,json}"
        ]
    }

    withName: MINIMAP2_ALIGN {
        ext.args = { [
            "-x ${meta.type == 'hifi' ? 'map-hifi' : 'map-ont'}",
            "-R \'@RG\\tID:RG1\\tSM:${meta.id}\'"
        ].join(' ').trim() }
        cpus   = { 8      * task.attempt }
        memory = { 64.GB  * task.attempt }
        time   = { 24.h   * task.attempt }
        publishDir = [
            enabled: params.publish_bam,
            path: { "${params.outdir}/minimap2/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai}"
        ]
    }

    withName: BWA_INDEX {
        cpus   = { 1     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }

    withName: BWA_MEM {
        ext.args = { "-R \"@RG\\tID:${meta.id}\\tSM:${meta.sample}\\tLB:${meta.lib}\\tPU:${meta.sample}_${meta.run}\\tPL:ILLUMINA\"" }
        ext.prefix = { "${meta.id}.sorted" }
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 24.h  * task.attempt }
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/bwa" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }

    withName: BWA_MAP_FILTER {
        ext.args = { [
            "-R \"@RG\\tID:${meta.id}\\tSM:${meta.sample}\\tLB:${meta.lib}\\tPU:${meta.sample}_${meta.run}\\tPL:ILLUMINA\"",
            "-B ${params.mismatch_penalty}"
        ].join(' ').trim() }
        cpus   = { 8     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 24.h  * task.attempt }
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/bwa/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }

    withName: GATK4_MARKDUPLICATES {
        ext.args = { [
            '--CREATE_INDEX false',
            '--OPTICAL_DUPLICATE_PIXEL_DISTANCE 2500',
            '--ASSUME_SORT_ORDER queryname'
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.sorted.markdup.bam" }
        cpus   = { 1     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 16.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/markdup/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai}"
        ]
    }

    withName: PRETEXTMAP {
        ext.args = { "--mapq ${params.mapq_filter}" }
        ext.prefix = { "${meta.id}.mapq${params.mapq_filter}" }
        cpus   = { 1      * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/pretextmap/${meta.ref}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PRETEXTSNAPSHOT {
        ext.prefix = { "${meta.id}.mapq${params.mapq_filter}_" }
        cpus   = { 1      * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/pretextsnapshot/${meta.ref}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: YAHS {
        ext.args = '-l 1000'
        cpus   = { 1     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/yahs/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{fa,agp}"
        ]
    }

    withName: MOSDEPTH {
        ext.args = '-n'
        cpus   = { 4      * task.attempt }
        memory = { 32.GB  * task.attempt }
        time   = { 4.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/mosdepth/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,gz}"
        ]
    }

    withName: PANDEPTH {
        cpus   = { 4      * task.attempt }
        memory = { 16.GB  * task.attempt }
        time   = { 2.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/pandepth/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.gz"
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT|SUMMARIZE_STATS' {
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/stats/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{flagstat,txt,tsv,bed}"
        ]
    }

    withName: SAMTOOLS_DEPTH {
        cpus   = { 8     * task.attempt }
        memory = { 96.GB * task.attempt }
        time   = { 12.h  * task.attempt }
        ext.args = '-H -s'
    }

    withName: BGZIPTABIX_DEPTH {
        ext.args2 = '-s 1 -b 2 -e 2'
        publishDir = [
            path: { "${params.outdir}/depth/${meta.type}" },
            mode: params.publish_dir_mode,
            pattern: '*.{gz,tbi}'
        ]
    }

    withName: CLAIR3 {
        ext.args = { [
            "--min_coverage=${params.min_coverage}",
            "--min_contig_size=10000",
            '--remove_intermediate_dir',
            '--include_all_ctgs',
            '--output_all_contigs_in_gvcf_header',
            '--gvcf'
        ].join(' ').trim() }
        cpus   = { 4      * task.attempt }
        memory = { 32.GB  * task.attempt }
        time   = { 24.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/clair3/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,gvcf.gz}"
        ]
    }

    withName: TABIX_TABIX {
        ext.args = '-p vcf'
        publishDir = [
            path: { "${params.outdir}/clair3/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: '*.tbi'
        ]
    }

    withName: DEEPVARIANT_RUNDEEPVARIANT {
        ext.args = { [
            meta.type == 'hifi' ? '--model_type=PACBIO' : '--model_type=ONT_R104'
        ].join(' ').trim() }
        cpus   = { 8      * task.attempt }
        memory = { 64.GB  * task.attempt }
        time   = { 12.h   * task.attempt }
        publishDir = [
            path: { "${params.outdir}/deepvariant/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: GATK4_HAPLOTYPECALLER {
        ext.args = { [
            '--sample-ploidy 2',
            '--emit-ref-confidence GVCF',
            '--pcr-indel-model NONE',
            meta.region ? "-L ${meta.region}" : '',
            '-G StandardAnnotation',
            '-G StandardHCAnnotation',
            '-G AS_StandardAnnotation'
        ].join(' ').trim() }
        ext.prefix = { meta.region ? "${meta.id}_${meta.region}" : "${meta.id}" }
        cpus   = { 1      * task.attempt }
        memory = { 32.GB  * task.attempt }
        time   = { 12.h   * task.attempt }
    }

    withName: GATK4_GENOTYPEGVCFS {
        ext.args = { [
            "-L ${meta.region}"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.region}" }
        cpus   = { 1      * task.attempt }
        memory = { 16.GB  * task.attempt }
        time   = { 4.h    * task.attempt }
    }

    withName: GATK4_MERGEVCFS {
        cpus   = { 1      * task.attempt }
        memory = { 32.GB  * task.attempt }
        time   = { 2.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/gatk/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi}"
        ]
    }

    withName: GLNEXUS {
        cpus   = { 4      * task.attempt }
        memory = { 64.GB  * task.attempt }
        time   = { 4.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/glnexus/${meta.type}/${meta.caller}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: WINDOWS_STATS {
        ext.args = { [
            "--windowsize 20000",
            "--stepsize 10000",
            "-i 10000000",
            "-l INFO"
        ].join(' ').trim() }
        cpus   = { 1      * task.attempt }
        memory = { 16.GB  * task.attempt }
        time   = { 16.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/windows/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,bed}"
        ]
    }

    withName: PLOT_WINDOWS {
        cpus   = { 1      * task.attempt }
        memory = { 8.GB   * task.attempt }
        time   = { 1.h    * task.attempt }
        publishDir = [
            path: { "${params.outdir}/windows/${meta.type}/${meta.ref}" },
            mode: params.publish_dir_mode,
            pattern: "*.pdf"
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_${meta.type}" }
        publishDir = [
            path: { "${params.outdir}/fastqc/${meta.type}" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }
    
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
